{% extends "base.html" %}

{% load i18n %}

{% block content %}


<h1>Регистрация</h1>


<form class="signup" id="signup_form" method="post" >
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
</form>
<script>
  grade_element = document.getElementById('id_grade')
  user_type_element = document.getElementById("id_user_type")
  grade_element.parentElement.style.display = 'none'
  user_type_element.addEventListener("change", usertypechange)
  
  function usertypechange(element) {
    const select = element.target;
    const value = select.value;
    const desc = select.options[select.selectedIndex].text;
    if (desc == "Ученик") {
      grade_element.parentElement.style.display = 'block'
    } else {
      grade_element.parentElement.style.display = 'none'
    }
  }
</script>
{% endblock content %}
