html, body {
    height: 100%;
}

body {
    margin: 0;
    background: whitesmoke;
}

h1 {
    font-family: Didot ;
    color: Green;
    text-align: center;
}

h3 {
    color: black
}

p {
    color: black
}

a {
    color: darkgrey;
}



.buttonpanel {
    background: linear-gradient(green, whitesmoke);
}

.tasklist {
    border: solid black 1px;
    margin: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    box-shadow: 2px 2px gray;
    border-radius: 3px;

}

.oneLine {
    display: inline-block;
}

* {
    font-family: Verdana;
}

.task-description {
    font-size: 20px;
}

.videlenie {
    border: solid 3px black;
    width: fit-content;
    padding: 3px;
    margin: 2px
}

.s-t-len {
    font-size: 30px;
    font-weight: bold;
    color: darkred;
}
#table {
    width: auto;
}
.w-text {
    color: white;
}
