{% extends "base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <form method="post" class="form-group">
                {% csrf_token %}
                {% for field in form %}
                    <div class="input-group">
                        {{ field.errors }}
                        <span class="input-group-text" style="font-weight: bold;" id ="{{ field.id_for_label }}" >Запрос к нейросети</span>
                        <textarea name="request" cols="40" rows="2" class="form-control" required="" id="{{ field.auto_id }}"></textarea>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-outline-success" style="margin-top: 5px">Сохранить</button>
            </form>
        </div>
    </div>
{% endblock %}