{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col ps-3">

            <ul class="list-group" style="width: 75%; font-size: 15px;">
                <li class="list-group-item list-group-item-success" style="font-size: 25px; font-weight: bold">
                    Возможности
                </li>
                <li class="list-group-item">Просмотр своего класса учителями и своих учителей учениками</li>
                <li class="list-group-item">Теоритические материалы для повторения или самостоятельного изучения</li>
                <li class="list-group-item">Создание и проверка заданий вручную учителем</li>
                <li class="list-group-item" style="font-size: 17px; font-weight: bold">Иновационная технология генерации
                    заданий
                    и теории
                    нейронными сетями
                </li>
                <li class="list-group-item">Система результативности и её просмотра учениками</li>
            </ul>
            <br>
            <br>
            <div class="list-group" style="width: 75%">


                <h4 class="mb-1" style="align-self: center">Новости</h4>

                {% for item in news %}
                    <div class="card border-success mb-3" style="width: fit-content">
                        <div class="card-header" style="background-color: #d1e7dd">{{ item.date }}</div>
                        <div class="card-body">
                            <h5 class=" card-title">{{ item.title }}</h5>
                            <p class="card-text">{{ item.text }}</p>
                        </div>

                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col">
            <img src="static/images/img.png" style="width: 512px; width: 512px">
        </div>
    </div>
{% endblock %}
