{% load static %}
{% block content %}

    <nav class="navbar navbar-light" style="background: linear-gradient(green, white)">
        <div class="container-fluid">
            <a class="navbar-brand fs-1" style="color: white; font-family: 'Arial Black'">
                <img src="{% static "images/smartschool.png" %}" alt="" width="60" height="48"
                     class="d-inline-block align-text-top">
                УМНЫЕ ЗАДАНИЯ
            </a>
        </div>
        {% if request.path != "/accounts/login/" %}
            {% if user.is_authenticated %}


                <a href="{% url 'account_logout' %}" class="floating-button">Выйти</a>

            {% else %}
                <a href="{% url 'account_login' %}" class="floating-button">Вход</a>
            {% endif %}
        {% endif %}
        <a href="{% url 'index' %}" class="floating-button">Начало</a>
        {% if user.user_type.code == "teacher" %}
            <a href="{% url "ai_requests" %}" class="floating-button">Нейросеть</a>
            <a href="{% url "requests_list" %}" class="floating-button">Генерации</a>
            <a href="{% url 'create_task' %}" class="floating-button">Создание</a>
            <a href="{% url 'teacher_classes' %}" class="floating-button">Классы</a>
            <a href="{% url "give_task" %}" class="floating-button">Выдача</a>

        {% endif %}
        {% if user.user_type.code == "student" %}
            <a href="{% url 'student_task_list' 0 %}" class="floating-button">Задания</a>
            <a href="{% url "student_teacher_list" %}" class="floating-button">Мои учителя</a>
            <a href="{% url "student_result" %}" class="floating-button">Результаты</a>
        {% endif %}

        <a onclick="javascript:history.back(); return false;" class="floating-button">Назад</a>
    </nav>
{% endblock %}
