{% extends "base.html" %}
{% block content %}
    {% for request_1 in requests %}
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">Запрос: {{ request_1.request }}</li>
            <li class="list-group-item">Ответ нейросети:
                {% if  request_1.ai_answer  == "" %}
                    <i>Генерируется</i>
                {% else %}
                    {{ request_1.ai_answer }}
                {% endif %}
            </li>
        </ul>
        <br>
    {% endfor %}


{% endblock %}