{% extends "base.html" %}
{% block content %}
<h1>Твои учителя</h1>
{% for teacher in teachers %}
    
    <ul class='list-group' style="width: 15%">
        <li class="list-group-item">{{ forloop.counter }}</li>
        <li class="list-group-item active">{{teacher.user.first_name}} {{teacher.user.last_name}}</li>
        <li class="list-group-item">{{teacher.user.username}}</li>
        {% if teacher.user.phone_number %}<li class='list-group-item'>{{teacher.user.phone_number}}</li>{% endif %}
    </ul>
    <br>
{% endfor %}
{% endblock %}
