{% extends 'base.html' %}
{% block content %}
    <h1>Класс: {{ class.number }}{{ class.letter }}</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Имя</th>
            <th scope="col">Количество заданий</th>
            <th scope="col" class="table-success">Количество правильных заданий</th>
            <th scope="col" class="table-danger">Количество неправильных заданий</th>
            <th scope="col" class="table-warning">Количество непроворенных заданий</th>
        </tr>
        </thead>
        <tbody>
        {% for item in students %}
            <tr>
                <th scope="col">{{ forloop.counter }}</th>
                <th scope="col"><a
                        href="{% url "student_task_list_teacher" item.student.id %}">{{ item.student.user.first_name }}</a>
                </th>
                <th scope="col"><a
                        href="{% url "student_task_list_teacher" item.student.id %}">{{ item.student.user.last_name }}</a>
                </th>
                <th scope="col">{{ item.student_tasks_len }}</th>
                <th scope="col" class="table-success">{{ item.student_tasks_right }}</th>
                <th scope="col" class="table-danger">{{ item.student_tasks_wrong }}</th>
                <th scope="col" class="table-warning">{{ item.student_tasks_no_check }}</th>

            </tr>
        {% endfor %}

        </tbody>
    </table>

{% endblock %}